.button {
    background-color: beige;
    cursor: pointer;
    position: absolute;
    padding: 10px;
    margin: 10px;
}

#Math1 {
    position: center;
    top: 20px;
    left: 5%;
}

#Math2 {
    position: center;
    left: 15%;
    top: 80px;
}

#Math3 {
    position: center;
    left: 25%;
    top: 140px;
}

#Eng1 {
    position: center;
    left: 55%;
    top: 20px;
}

#Eng2 {
    position: center;
    left: 65%;
    top: 80px;
}

#Eng3 {
    position: center;
    left: 75%;
    top: 140px;
}

#Soc1 {
    position: center;
    left: 5%;
    top: 240px;
}

#Soc2 {
    position: center;
    left: 15%;
    top: 300px;
}

#Soc3 {
    position: center;
    left: 25%;
    top: 360px;
}

#Phys1 {
    position: center;
    left: 55%;
    top: 240px;
}

#Phys2 {
    position: center;
    left: 65%;
    top: 300px;
}

#Phys3 {
    position: center;
    left: 75%;
    top: 360px;
}

#Bio1 {
    position: center;
    left: 5%;
    top: 460px;
}

#Bio2 {
    position: center;
    left: 15%;
    top: 520px;
}

#Bio3 {
    position: center;
    left: 25%;
    top: 580px;
}

#Chem1 {
    position: center;
    left: 55%;
    top: 460px;
}

#Chem2 {
    position: center;
    left: 65%;
    top: 520px;
}

#Chem3 {
    position: center;
    left: 75%;
    top: 580px;
}




header {
    padding: 20px;
    background-color: #DEECC6;
    text-align: center;
}

body {
    margin: 0px;
}

#content {
    position: absolute;
    width: 75%;
    left: 25%;


}



#infoColumn {
    width: 25%;
    background-color: green;
    height: 100%;
    float: left;
    position: absolute;
}


#chart-container {
    font-family: Arial;
    height: 420px;
    border: 2px dashed #aaa;
    border-radius: 5px;
    overflow: auto;
    text-align: center;
    z-index: 2;
}

#submit {
    position: absolute;
    padding: 10px;
    z-index: 69;
}