.button {
    background-color: beige;
    cursor: pointer;
    position: absolute;
    padding: 10px;
    margin: 10px;
}

#button1 {
    position: center;
    top: 50px;
    left: 60%;
}

#button2 {
    position: center;
    left: 50%;
    top: 130px;
}

#button3 {
    position: center;
    left: 70%;
    top: 130px;
}

#button4{
    position: center;
    left: 55%;
    top: 230px;
}

#button5{
    position: center;
    left: 45%;
    top: 230px;

}

#button6{
    position: center;
    left: 65%;
    top:230px;
}

#button7{
    position: center;
    left: 75%;
    top:230px;
}


header {
    padding: 20px;
    background-color: #DEECC6;
    text-align: center;
}

body {
    margin: 0px;
}

#content{
    position: absolute;
    width: 75%;
    left: 25%;


}



#infoColumn {
    width: 25%;
    background-color: green;
    height: 100%;
    float: left;
    position:absolute;
}


#chart-container {
    font-family: Arial;
    height: 420px;
    border: 2px dashed #aaa;
    border-radius: 5px;
    overflow: auto;
    text-align: center;
    z-index: 2;
  }