.button {
    background-color: beige;
    cursor: pointer;
    padding: 10px;
    margin: 10px;
    z-index: 1;
}

header {
    padding: 20px;
    background-color: #DEECC6;
    text-align: center;
}

body {
    margin: 0px;
}